/* Reset e Variáveis de Cor */
:root {
    --color-purple-50: #faf5ff;
    --color-purple-100: #f3e8ff;
    --color-purple-200: #e9d5ff;
    --color-purple-300: #d8b4fe;
    --color-purple-600: #9333ea;
    --color-purple-700: #7e22ce;
    --color-purple-800: #6b21a8;
    --color-pink-50: #fdf2f8;
    --color-pink-200: #fbcfe8;
    --color-pink-300: #f9a8d4;
    --color-pink-400: #f472b6;
    --color-pink-500: #ec4899;
    --color-pink-600: #db2777;
    --color-pink-700: #be185d;
    --color-yellow-50: #fefce8;
    --color-yellow-100: #fef9c3;
    --color-yellow-200: #fde68a;
    --color-yellow-300: #fcd34d;
    --color-yellow-400: #fbbf24;
    --color-yellow-600: #ca8a04;
    --color-green-100: #dcfce7;
    --color-green-200: #bbf7d0;
    --color-green-400: #4ade80;
    --color-green-600: #16a34a;
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bfdbfe;
    --color-blue-600: #2563eb;
    --color-orange-100: #fff7ed;
    --color-orange-200: #fed7aa;
    --color-orange-600: #ea580c;
    --color-white: #ffffff;
    --color-purple-500: #a855f7;
    --color-purple-600: #9333ea;
    --color-purple-700: #7e22ce;
    --color-pink-500: #ec4899;
    --color-orange-400: #fb923c;
    --color-yellow-400: #fbbf24;
    --color-pink-400: #f472b6;
    --color-blue-400: #60a5fa;
    --color-green-400: #4ade80;
    --color-gray-50: #f9fafb;
    --color-gray-200: #e5e7eb;
    --color-gray-600: #4b5563;
    --color-gray-800: #1f2937;
    --color-gray-escuro: #161616;
    --color-white: #ffffff;
    --font-family: 'Poppins', sans-serif;
}